@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Ubuntu:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*************************variables******************************/
/*************************sections******************************/
.navbar {
  width: 100vw;
  height: 11vh;
  background: #062c43;
  background: linear-gradient(180deg, #062c43 70%, rgba(6, 44, 67, 0) 100%);
  position: fixed;
  display: flex;
  z-index: 10; }
  .navbar_left {
    height: 100%;
    z-index: -2; }
    .navbar_left_Logo {
      height: 100%;
      font-style: none;
      border: none;
      text-decoration: none;
      display: flex;
      align-items: center; }
      .navbar_left_Logo h3 strong {
        font-family: 'Audiowide', cursive;
        color: #ced7e0; }
      .navbar_left_Logo img {
        max-height: 90%; }
  .navbar_buttonsList {
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: center;
    z-index: -1; }
    .navbar_buttonsList--boton {
      list-style: none;
      margin-inline-start: 40px; }
      .navbar_buttonsList--boton a {
        border: none;
        outline: none;
        text-decoration: none; }
        .navbar_buttonsList--boton a span {
          color: #ced7e0;
          text-decoration: none;
          outline: none;
          border: none;
          font-family: "Ubuntu", sans-serif;
          font-size: 20px; }
          .navbar_buttonsList--boton a span:hover {
            cursor: pointer;
            color: #9098a0; }

.breadcrumb-item.active {
  color: white; }

.breadcrumb {
  margin-left: 10px; }

.breadcrumb-item + .breadcrumb-item::before {
  color: rgba(215, 234, 255, 0.75); }

@media (max-width: 689px) {
  .navbar_buttonsList {
    justify-content: flex-end;
    padding-right: 30px; }
    .navbar_buttonsList--boton {
      margin-inline-start: 30px; }
      .navbar_buttonsList--boton a span {
        font-size: 3vw; }
  .navbar_left_Logo h3 {
    display: none; } }

@media (max-width: 1168px) {
  .breadcrumb {
    margin-left: 0px;
    width: 100vw;
    display: flex;
    justify-content: center; }
    .breadcrumb::after {
      content: '';
      background-color: rgba(0, 0, 0, 0.582);
      z-index: -1;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      width: 100%;
      height: 30px;
      top: 82px;
      border-radius: 10px; } }

.main {
  padding-top: 9vh;
  padding-bottom: 50px;
  background-color: #054569;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .main_firstCard {
    display: flex;
    align-items: center;
    justify-content: center; }
    .main_firstCard--tittle {
      display: block;
      position: absolute;
      top: 90px;
      z-index: 2;
      font-family: 'Audiowide', cursive;
      font-size: 50px;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: gray; }
  .main_presentationCard {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Ubuntu", sans-serif;
    width: 100vw;
    text-align: center;
    margin-top: 20px;
    z-index: 2;
    color: #9ccddc;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #5591a9; }
    .main_presentationCard p {
      color: #ced7e0;
      max-width: 50vw; }
    .main_presentationCard h2 {
      margin: 20px; }

.carousel {
  z-index: 0;
  max-width: 80vw; }
  .carousel .carousel-item a {
    display: flex;
    justify-content: center;
    list-style: none; }
    .carousel .carousel-item a h3 {
      list-style: none;
      position: absolute;
      bottom: 30px;
      z-index: 2;
      color: #9ccddc;
      font-family: "Ubuntu", sans-serif;
      font-size: 30px; }

@media (max-width: 689px) {
  .main_firstCard--tittle {
    font-size: 6vw; }
  .carousel .carousel-item a strong {
    font-size: 5vw;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; } }

.footer {
  width: 100%;
  min-height: 200px;
  background-color: #062c43;
  display: flex;
  justify-content: space-between;
  padding-right: 20px; }
  .footer_logo {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .footer_logo img {
      max-width: 150px; }
    .footer_logo h4 {
      color: gray; }
  .footer_buttonlist {
    display: flex;
    align-items: center;
    padding-left: 0;
    flex-direction: column; }
    .footer_buttonlist li {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center; }
      .footer_buttonlist li a {
        font-style: none;
        color: #054569;
        font-family: "Ubuntu", sans-serif;
        border: none;
        text-decoration: none;
        font-weight: 400;
        list-style: none; }
      .footer_buttonlist li h3 {
        color: #116494;
        text-decoration: none;
        font-weight: 500;
        list-style: none; }
    .footer_buttonlist--Redes img {
      max-width: 25px;
      margin-inline-start: 10px; }

@media (max-width: 466px) {
  .footer {
    padding-right: 1vw; }
    .footer_logo img {
      max-width: 30vw; }
    .footer_logo h4 {
      font-size: 7vw; }
    .footer_buttonlist li h3 {
      font-size: 5vw; }
    .footer_buttonlist--Redes img {
      max-width: 25px;
      margin-inline-start: 5px; } }

.main_cardContainer {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding-left: 0;
  block-size: auto;
  contain: content; }
  .main_cardContainer_card {
    padding: 20px;
    background-color: #116494;
    border-radius: 15px;
    list-style: none;
    max-width: 26vw;
    min-height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin-inline: 5px;
    margin-block-start: 10px;
    list-style: none; }
    .main_cardContainer_card h3 {
      font-size: 2vw;
      color: #9098a0;
      font-family: "Ubuntu", sans-serif;
      margin-top: 10px; }
    .main_cardContainer_card p {
      font-family: "Ubuntu", sans-serif; }
    .main_cardContainer_card--resume {
      background-color: #5591a9;
      border-radius: 10px;
      padding-inline-start: 10px;
      padding-top: 5px;
      margin-bottom: 75px; }
    .main_cardContainer_card img {
      max-width: 23vw; }
    .main_cardContainer_card--showMore {
      margin-top: 5px;
      background-color: #5591a9;
      border-radius: 25px;
      padding-inline: 20px; }
      .main_cardContainer_card--showMore a {
        font-style: none;
        border: none;
        text-decoration: none;
        outline: none; }
        .main_cardContainer_card--showMore a h4 {
          font-weight: 500;
          font-family: "Ubuntu", sans-serif;
          color: #ced7e0;
          font-style: none;
          border: none;
          text-decoration: none;
          outline: none;
          margin-bottom: 0; }

.center {
  display: flex;
  flex-direction: column;
  justify-content: center; }

@media (max-width: 1168px) {
  .main {
    padding-top: 13vh; }
    .main_cardContainer_card {
      max-width: 29vw;
      min-height: 42vw; }
      .main_cardContainer_card h3 {
        font-size: 2.5vw; }
      .main_cardContainer_card--resume {
        display: none; }
      .main_cardContainer_card--showMore a h4 {
        font-size: 3vw; } }

.main {
  min-height: 90vh; }
  .main--tittleNetwork {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    margin-top: 20px;
    font-size: 2vw;
    color: #9ccddc; }
  .main_linksCards {
    list-style: none;
    display: flex;
    padding-left: 0; }
    .main_linksCards_card {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-around;
      background-color: #116494;
      max-width: 20vw;
      min-height: 30vh;
      padding-inline: 1.5vw;
      border-radius: 15px;
      margin-inline: 0.7vw; }
      .main_linksCards_card p {
        text-align: center;
        font-family: "Ubuntu", sans-serif;
        color: #9ccddc;
        font-size: 1vw;
        margin-top: 15px; }
      .main_linksCards_card img {
        margin-top: 15px;
        max-width: 90%; }

@media (max-width: 689px) {
  .main_linksCards_card {
    max-width: 25vw; }
    .main_linksCards_card p {
      font-size: 2vw; } }

.main_whoIam {
  display: flex;
  margin-top: 80px;
  max-width: 50vw;
  align-items: center; }
  .main_whoIam img {
    max-height: 30vh; }
  .main_whoIam--text {
    background-color: #116494;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 0;
    margin-left: 15px; }
    .main_whoIam--text p {
      font-family: "Ubuntu", sans-serif;
      font-size: 20px;
      color: #9ccddc; }

@media (max-width: 927px) {
  .main_whoIam {
    flex-direction: column; }
    .main_whoIam--text {
      margin-inline: 2vw;
      min-width: 82vw; } }

.main_legalCard {
  background-color: #116494;
  padding: 15px;
  border-radius: 15px;
  margin-top: 90px;
  margin-inline: 30px; }
  .main_legalCard p {
    font-family: "Ubuntu", sans-serif;
    color: #9ccddc;
    font-size: 1vw; }

@media (max-width: 800px) {
  .main_legalCard p {
    font-size: 2vw; } }

.main--tittleGames {
  margin-top: 30px;
  color: #9ccddc;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif; }

.main_sinopsis {
  background-color: #116494;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-inline: 40px;
  border-radius: 15px;
  padding-inline: 20px;
  padding-top: 10px;
  margin-top: 25px; }
  .main_sinopsis p {
    color: #ced7e0;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.5vw;
    font-weight: 400; }
  .main_sinopsis--buttonDownload {
    background-color: #5591a9;
    border-radius: 10px;
    outline: none;
    text-decoration: none;
    padding-inline: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    box-shadow: 10px 9px 14px 0px rgba(12, 12, 53, 0.51); }
    .main_sinopsis--buttonDownload h3 {
      font-family: "Ubuntu", sans-serif;
      font-weight: 500;
      color: #ced7e0;
      outline: none;
      text-decoration: none;
      margin-left: 10px; }

.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.336);
  border-radius: 10px; }

.carousel-control-prev-icon {
  background-color: rgba(0, 0, 0, 0.336);
  border-radius: 10px; }

.carousel-indicators {
  background-color: rgba(0, 0, 0, 0.336);
  border-radius: 10px; }
